body {
    margin: 0;
    display: flex;
    font-family: serif;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient( to bottom, rgb(100,52, 30), rgb(0, 0, 0)) ;
}

/* .wrapper {
    margin: 0 auto;
    background-image: url(./Shadows.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
} */

.div_text {
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

main {
    color: #fff;
    display: flex;
    padding-top: 111px;
}

main h2 {
    color: #ffffff;
}

main img {
    height: 180px; 
    width: 180px; 
    float: left; 
    margin: 0 10px 0 0;
}

.p_1 {
    text-align: justify;
    color: rgb(255 255 255);
    text-shadow: black 0px 0px 4px;
}

.sidebar {
    float: right;
    width: 360px;
    position: relative;
    background: #d62069;
    padding: 10px;
}

.map {
    overflow:hidden;
    position:relative; 
    font-size: 0;
}

.map iframe {
    height: 350px;
    width: 350px;
    background-color: #fff;
}

.map_site {
    height: 350px;
    margin: 15px 0 0 0;
}

.map_site iframe {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.form {
    margin-top: 10px;
}

.topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #eba379;
    margin-bottom: 10px;
}

.input-box {
    height: 50px; 
    width: 100%; 
    margin-bottom: 20px;
}

.input-box input,
.input-box textarea {
  height: 100%; /* растягиваем на всю высоту контейнера */
  width: 100%; /* растягиваем на всю ширину */
  border: none; /* убираем внешние края */
  border-radius: 5px; /* скругляем края */
  background: #f0f1f8; /* задаем цвет фона */
  padding: 0 20px; /* отступ справа и слева 20px */
  box-sizing: border-box;
}

.input-box textarea {
    resize: none; /* чтобы нельзя было менять высоту */
    padding: 20px;
}

.message-box {
    min-height: 110px; /* минимальная высота 110px */
}
  
/* Стили для контейнера кнопки */
.button {
    display: inline-block; /* делаем блочно-строчный элемент */
}
  
/* Стили для самой кнопки */

.button input[type="button"] {
    color: #fff;
    font-size: 18px;
    background: #3e2093;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.2s; /* чтобы плавно менялся цвет при наведении (:hover) */
}
  
/* Меняем цвет фона при наведении на кнопку */
.button input[type="button"]:hover {
    background: rgb(0, 0, 207);
}

main h2::before {
    content: "\00ab";
}

main h2::after {
    content: "\00bb";
}

.gallery {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.gallery_ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery_ul img{
    margin: 5px;
    padding: 0;
    width: 600px;
    height: 600px;
}
