header {
    background: #fa2f28;
	position: fixed;
	width: 100%;
	z-index: 10;
}

header div {
	display: flex;
	align-items: center;
	padding-right: 50px;
}

header h1 {
	font-size: 25px;
	color: black;
	width: 100%;
	text-align: center;
}

.menu {
	width: 100%;
	display: table;
}
.menu ul {
	display: table-row;
	
}
.menu li {
	display: table-cell;
	background: #d62069;
}
.menu ul li:hover, .menu a:hover {
	background: #888;
}
.menu li a {
	display: block;
	padding: 8px 15px;
	color: black;
	text-align: center;
    text-decoration: none;
    font-size: 25px;
}

img:hover {
    opacity: .8;
    cursor: pointer;
}

.list {
	position: relative;
}

ul.sub-menu {
    height: 0;
    position: absolute;
	flex-direction: column;
	padding: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: all .1s;
	overflow: hidden;
}

.list:hover > ul.sub-menu {
	height: auto;
	display: flex;
	opacity: 1;
}

.sub-menu__item {
	display: block;
}